<article class="blurb">
    <div class="graphic">
        <img src="<%- cachify('/pages/i/one-password-graphic.png') %>" alt="<%- gettext('One password to rule them all.') %>">
    </div>

    <div class="info">
        <h1><%- gettext('Persona replaces multiple passwords') %></h1>
        <p><%- format(gettext('Sites such as <a %(timesLink)>The Times Crossword</a>, <a %(openphotoLink)>OpenPhoto</a> and <a %(voostLink)>Voost</a> use Persona instead of usernames to sign you in.'),
                      {
                        timesLink: 'href="http://crossword.thetimes.co.uk/" target="_blank"',
                        openphotoLink: 'href="http://current.openphoto.me/" target="_blank"',
                        voostLink: 'href="https://www.voo.st/" target="_blank"'
                      })
               %></p><p><%- gettext('This means you only need one password to sign in to many sites.') %></p>
    </div>
</article>