<div id="tour">
  <article class="multiple-pass">
      <div class="graphic">
          <img src="<%- cachify('/pages/i/one-password-graphic.png') %>" alt="<%- gettext('One password to rule them all.') %>">
      </div>

      <div class="info">
          <h1><%- gettext('Persona replaces multiple passwords') %></h1>
          <p><%- format(gettext('Sites such as <a %(timesLink)>The Times Crossword</a>, <a %(openphotoLink)>OpenPhoto</a> and <a %(voostLink)>Voost</a> use Persona instead of usernames to sign you in.'),
                        {
                          timesLink: 'href="http://crossword.thetimes.co.uk/" target="_blank"',
                          openphotoLink: 'href="http://current.openphoto.me/" target="_blank"',
                          voostLink: 'href="https://www.voo.st/" target="_blank"'
                        })
                 %></p><p><%- gettext('This means you only need one password to sign in to many sites.') %></p>
      </div>
  </article>

  <article class="flexible">
      <div class="graphic">
          <img src="<%- cachify('/dialog/i/tour-flexible.png') %>" alt="<%- gettext('Use multiple email addresses') %>">
      </div>

      <div class="info">
          <h1><%- gettext('Persona is flexible') %></h1>
          <p><%- gettext('Within Persona, your identity is your email address. You can use as many email addresses as you want, but you still only need one password.') %></p>
      </div>
  </article>

  <article class="half first">
      <h1><%- gettext('Persona is proudly non-profit for you') %></h1>
      <p><%- gettext('Persona is developed by Mozilla, a not-for-profit company trusted throughout the Web community. Our goal is to create technologies that balance an open Web platform with people\'s privacy.') %></p>
  </article>

  <article class="half">
      <h1><%- gettext('Persona preserves your privacy') %></h1>
      <p><%- gettext('Persona does not track your activity around the Web. It creates a wall between signing you in and what you do once you\'re there. The history of what sites you visit is stored only on your own computer.') %></p>
  </article>
</div>